html,
body {
    font-size: 1rem;
}

.super-navbar {
    border-bottom: 1px solid var(--color-border-default);
}

.super-navbar__content {
    max-width: var(--content-max-width);
}

.super-navbar__button.super-navbar__menu-open {
    display: none;
}

.super-navbar__logo:hover {
    opacity: .7;
    transition: var(--transition);
}

.super-navbar__item {
    opacity: 1;
}

.super-navbar__menu-wrapper {
    overflow: auto;
}

.super-navbar__cta {
    padding: var(--cta-padding);
    border-radius: var(--cta-border-radius);
    background: var(--cta-color-bg);
    color: var(--cta-color-text);
    font-weight: 500;
    letter-spacing: -0.3px;
    transition: var(--transition);
}

.super-content {
    padding: 0;
}

.notion-caption {
    margin-top: 0.5rem !important;
    text-align: center !important;
}

.notion-header {
    display: none !important;
}

.notion-header__title-wrapper {
    display: flex !important;
    height: 100% !important;
    flex-direction: row !important;
    align-items: center !important;
    margin: 0 !important;
}

.notion-header__icon-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 3.5rem !important;
    line-height: 1.143 !important;
}

.notion-header__cover {
    display: none !important;
}

.notion-header__content {
    display: flex !important;
    padding: 0 !important;
}

.notion-header__title {
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
    margin-top: 1.5rem !important;
    margin-left: 1rem !important;
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    letter-spacing: -1px !important;
}

.notion-header__icon {
    width: 3rem !important;
    height: 3rem !important;
}

.notion-embed {
    margin: 2rem 0 !important;
}

.notion-page {
    margin: 0 !important;
}

.notion-page>div {
    padding: 0 !important;
    margin: 0.25rem 0 !important;
    padding-inline-end: 0 !important;
}

.notion-page__title {
    display: flex !important;
    align-items: center !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.notion-page__title span {
    font-weight: 500 !important;
}

.notion-page__title .notion-semantic-string {
    border: 0 !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    white-space: pre-wrap !important;
}

.notion-page__title .notion-semantic-string span {
    line-height: 1 !important;
}

.notion-page>div:hover {
    background: 0 0 !important;
}

.notion-table-of-contents {
    padding: 0 !important;
    margin: 0 !important;
}

.notion-table-of-contents__item {
    margin: 0.5rem 0 !important;
    font-size: 0.875rem !important;
}

.notion-table-of-contents__item .notion-semantic-string {
    border: 0 !important;
}

.notion-table-of-contents__item a div {
    padding: 0 !important;
}

.notion-table-of-contents__item:hover {
    background: 0 0 !important;
    opacity: 0.6 !important;
}

.notion-text__content {
    padding: 0 !important;
    margin: 0.5rem 0 !important;
}

.notion-semantic-string .link {
    opacity: 1 !important;
}

ul>.notion-list-item::before {
    display: inline-block !important;
    margin-left: -1em !important;
    content: "-" !important;
    font-size: 1rem !important;
    opacity: 0.3 !important;
}

.notion-heading {
    margin: 2.5rem 0 2rem !important;
    font-weight: 600 !important;
}

h1.notion-heading {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 2.5rem !important;
    font-weight: 600 !important;
    letter-spacing: -0.025em !important;
    line-height: 1 !important;
}

h1.notion-heading .notion-semantic-string {
    line-height: 1.2 !important;
}

h2.notion-heading {
    margin-bottom: 0 !important;
    font-size: 2rem !important;
    letter-spacing: -0.025em !important;
    line-height: 1.5 !important;
}

h3.notion-heading {
    margin-bottom: 0.5rem !important;
    font-size: 1.5rem !important;
    letter-spacing: -0.025em !important;
    text-transform: none !important;
}

a {
    border: 0 !important;
}

a:hover {
    opacity: 0.6 !important;
}

.notion-semantic-string .notion-link {
    border-bottom: 1px solid #b8bcc2 !important;
    color: var(--color-text-default) !important;
}

.notion-semantic-string .notion-link:hover {
    opacity: 0.6 !important;
}

p>span>span>a {
    border: 0 !important;
    opacity: 1 !important;
}

.notion-image {
    margin: 1.25rem 0 !important;
}

.notion-callout .notion-image.page-width {
    width: 100% !important;
    max-width: 100% !important;
}

.notion-root > .notion-column-list > .notion-column > .notion-image.page-width {
    width: 115% !important;
    max-width: 115% !important;
}

pre {
    padding: 1.25rem !important;
    margin: 0.5rem 0 1.25rem !important;
    background-color: var(--color-code-block) !important;
    color: #2e3237 !important;
}

code {
    color: #2e3237 !important;
    font-family: "Roboto Mono", monospace !important;
    font-size: 0.875rem !important;
    text-shadow: none !important;
}

code span {
    color: #2e3237 !important;
}

.token {
    background: 0 0 !important;
}

.notion-semantic-string.code {
    padding: 0.125rem 0.375rem !important;
    background: var(--inline-code-bg-color) !important;
    color: var(--color-text-default) !important;
    font-size: 0.9em !important;
    white-space: pre-wrap !important;
}

.notion-quote {
    padding: 1rem 1.5rem !important;
    border: 1px solid var(--color-border-default) !important;
    border-radius: 1rem !important;
    margin: 1rem 0 !important;
    background: transparent !important;
    font-size: var(--quote-size) !important;
    letter-spacing: -0.025em !important;
    line-height: 1.375;
}

.notion-quote.large {
    font-size: var(--quote-size-large) !important;
}

.notion-embed__container>iframe {
    border-radius: 1.5rem !important;
    box-shadow: 0 0.5rem 2.5rem -0.5rem rgb(0 0 0 / 12%) !important;
}

.notion-callout.border> {
    display: block !important;
}

.notion-callout__content .notion-link {
    color: var(--color-text-default) !important;
    opacity: .6 !important;
}

.notion-callout__content .notion-link:hover {
    color: var(--color-text-default) !important;
    opacity: 1 !important;
}

.notion-callout {
    display: flex !important;
    width: 100% !important;
    align-self: flex-start;
    border-radius: var(--callout-border-radius) !important;
    margin-top: 1.25rem !important;
}

.notion-callout__icon {
    margin: 0.25rem 0.5rem 0 0.25rem !important;
}


.notion-callout__content {
    display: inline-block !important;
    margin: 0 !important;
}

.notion-breadcrumb__item:hover {
    background: 0 0 !important;
}

.notion-column-list:first-child {
    display: flex !important;
    width: 100% !important;
    flex-flow: row nowrap !important;
}

.notion-root>.notion-column-list:first-child {
    max-width: var(--content-max-width) !important;
    margin: 0 auto !important;
}

.notion-toggle .notion-heading {
    margin-top: 0 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child {
    position: sticky !important;
    z-index: 10 !important;
    top: 4.5rem !important;
    overflow: auto !important;
    width: 16.75rem !important;
    min-width: 16.75rem !important;
    height: calc(100vh - 4.5rem) !important;
    flex-shrink: 0 !important;
    padding: 1.5rem 1rem 1rem !important;
    border-right: 1px solid var(--color-border-default) !important;
    background: var(--color-bg-default) !important;
}

.notion-root>.notion-column-list>.notion-column:first-child .notion-text {
    min-height: auto !important;
}

.notion-root>.notion-column-list>.notion-column:first-child .notion-text p .color-gray {
    margin: 1.25rem 1rem 0.5rem !important;
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.5em !important;
    opacity: .6 !important;
    text-transform: uppercase !important;
}


.notion-root>.notion-column-list>.notion-column:first-child .notion-text p a {
    font-size: 0.75rem !important;
    font-weight: 300 !important;
    letter-spacing: 0.25em !important;
    text-transform: uppercase !important;
}

.notion-root>.notion-column-list>.notion-column:first-child a div {
    opacity: 1 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child a:hover div {
    opacity: 1 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child a:hover .notion-page__title {
    color: var(--color-text-default) !important;
    opacity: 1 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child .notion-page:hover {
    opacity: 1 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child p {
    margin-top: 1.25rem !important;
    margin-bottom: 0.25rem !important;
}

.notion-semantic-string .resource .notion-link {
    border: 0 !important;
  }

.notion-root>.notion-column-list>.notion-column:first-child .notion-text:first-child p {
    margin-top: 0 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child .notion-page {
    display: flex !important;
    padding: 3px 5px !important;
    border-radius: 0.75rem !important;
    margin: 1px 0 !important;
    transition: var(--transition) !important;
}

.notion-root>.notion-column-list>.notion-column:first-child .notion-page__icon {
    filter: grayscale(70%);
    opacity: .3 !important;
    transition: opacity .2s ease-in-out !important;
}

.notion-root>.notion-column-list>.notion-column:first-child .notion-page:hover .notion-page__icon {
    filter: grayscale(0%) saturate(100%);
    opacity: 1 !important;
}

.notion-root>.notion-column-list>.notion-column:nth-child(2) {
    z-index: 10 !important;
    width: 100% !important;
    min-width: 500px !important;
    max-width: 750px !important;
    height: 100% !important;
    padding: 2rem 3.75rem 6rem !important;
    margin: 0 auto !important;
}

.notion-root>.notion-column-list>.notion-column:nth-child(3) {
    position: sticky !important;
    z-index: 10 !important;
    top: 4.5rem !important;
    overflow: auto !important;
    min-width: 120px !important;
    height: calc(100vh - 4.5rem) !important;
    flex-shrink: 0 !important;
    padding: 1.5rem 2rem 2rem !important;
    border-left: 1px solid var(--color-border-default) !important;
    margin-left: 0 !important;
    background: var(--color-bg-default) !important;
}

.notion-root>.notion-column-list>.notion-column:nth-child(3) div p:first-child {
    margin-bottom: 0.5rem !important;
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    opacity: .6 !important;
    text-transform: uppercase !important;
}

.notion-root>.notion-column-list>.notion-column:nth-child(3) .notion-text:first-child p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.notion-root>.notion-column-list>.notion-column:first-child::-webkit-scrollbar,
.notion-root>.notion-column-list>.notion-column:nth-child(3)::-webkit-scrollbar {
    width: 6px !important;
}

.notion-root>.notion-column-list>.notion-column:first-child::-webkit-scrollbar-track,
.notion-root>.notion-column-list>.notion-column:nth-child(3)::-webkit-scrollbar-track {
    background: transparent !important;
}

.notion-root>.notion-column-list>.notion-column:first-child::-webkit-scrollbar-thumb,
.notion-root>.notion-column-list>.notion-column:nth-child(3)::-webkit-scrollbar-thumb {
    border-radius: 20px !important;
    background-color: var(--color-ui-hover-bg);
}

.notion-collection__header {
    display: none !important;
}

.notion-collection {
    margin-top: 1rem !important;
}

.notion-collection-gallery {
    padding-top: 0 !important;
    border-top: 0 !important;
    gap: 2rem !important;
}

.notion-collection-list,
.notion-collection-board {
    overflow: auto !important;
    border-top: 0 !important;
}

.notion-collection-card.board {
    border: 0 !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 0.5rem 1rem -0.5rem rgb(0 0 0 / 9%) !important;
    transition: var(--transition) !important;
}

.notion-collection-card.board:hover {
    background: var(--color-bg-default) !important;
    box-shadow: 0 0.5rem 1.25rem -0.5rem rgb(0 0 0 / 17%) !important;
    transform: translateY(-0.25rem) !important;
}

.notion-collection-gallery.large > .notion-collection-card,
.notion-collection-gallery.medium > .notion-collection-card {
    border: 1px solid var(--color-border-default) !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 0.5rem 1.25rem -0.5rem rgb(0 0 0 / 12%) !important;
    transition: var(--transition) !important;
}

.notion-collection-gallery>.notion-collection-card:hover {
    background: var(--color-bg-default) !important;
    box-shadow: 0 20px 40px -0.5rem rgb(0 0 0 / 12%) !important;
    transform: translateY(-0.25rem) !important;
}

.gallery.notion-collection-card .notion-property__title {
    align-items: center !important;
    justify-content: center !important;
    padding-bottom: 0 !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
    font-size: 1rem !important;
}

.notion-collection-gallery>.notion-collection-card {
    padding-bottom: 0.75rem !important;
}

.gallery .notion-property__title .notion-property__title__icon-wrapper {
    display: none !important;
}

.gallery .notion-collection-card__content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 0 !important;
    font-size: 0.875rem !important;
    opacity: 0.6 !important;
    padding-inline-start: 0 !important;
}

.notion-collection-card__cover img {
    margin: 0 !important;
}

.notion-collection-table__head-cell.title {
    text-align: left !important;
}

.notion-collection-table__cell {
    padding: 0.5rem !important;
}

td,
th {
    text-align: left !important;
}

.notion-collection-table th {
    border: 0 !important;
}

.notion-collection-table td,
.notion-collection-table th {
    padding: 0.5rem !important;
}

.notion-collection-table td {
    border-right: 0 !important;
    border-left: 0 !important;
}

.notion-collection-table__wrapper {
    overflow-x: hidden !important;
}

.copy-to-clipboard-button {
    position: relative !important;
    z-index: 9999 !important;
    padding: 0.375rem !important;
    border: 1px solid var(--color-border-default);
    border-radius: 0.25rem !important;
    margin-top: 0.25rem !important;
    margin-right: 0.25rem !important;
    background: var(--color-primary) !important;
    box-shadow: none !important;
    color: var(--color-text-light) !important;
    font-family: 'Roboto Mono', monospace !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

.copy-to-clipboard-button:hover {
    box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 5%) !important;
    cursor: pointer !important;
}

.notion-search.open .notion-search__wrapper {
    z-index: 100 !important;
}

.notion-collection-card.gallery .notion-property__title .notion-semantic-string {
    font-weight: 600 !important;
    text-align: center !important;
    white-space: pre-wrap !important;
}

.notion-collection-card__cover.medium,
.notion-collection-card__cover.medium>div,
.notion-collection-card__cover.medium img,
.notion-collection-card__cover.large,
.notion-collection-card__cover.large>div,
.notion-collection-card__cover.large img {
    height: 200px !important;
    min-height: 200px !important;
}

.notion-collection-list__item {
    padding: 0.5rem !important;
}

.notion-collection-list__item:hover {
    background: var(--color-ui-hover-bg) !important;
}

div.code-toolbar {
    position: relative;
}

div.code-toolbar>.toolbar {
    position: absolute;
    top: 0.3em;
    right: 0.2em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

div.code-toolbar:hover>.toolbar {
    opacity: 1;
}

div.code-toolbar:focus-within>.toolbar {
    opacity: 1;
}

div.code-toolbar>.toolbar>.toolbar-item {
    display: inline-block;
}

div.code-toolbar>.toolbar>.toolbar-item>a {
    cursor: pointer;
}

div.code-toolbar>.toolbar>.toolbar-item>button {
    overflow: visible;
    padding: 0;
    border: 0;
    background: 0 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    user-select: none;
}

div.code-toolbar>.toolbar>.toolbar-item>a,
div.code-toolbar>.toolbar>.toolbar-item>button,
div.code-toolbar>.toolbar>.toolbar-item>span {
    padding: 0 0.5em;
    border-radius: 0.5em;
    background: #f5f2f0;
    background: rgb(224 224 224 / 20%);
    box-shadow: 0 0.125rem 0 0 rgba(0 0 0 / 20%);
    color: #bbb;
    font-size: 0.8em;
}

div.code-toolbar>.toolbar>.toolbar-item>a:focus,
div.code-toolbar>.toolbar>.toolbar-item>a:hover,
div.code-toolbar>.toolbar>.toolbar-item>button:focus,
div.code-toolbar>.toolbar>.toolbar-item>button:hover,
div.code-toolbar>.toolbar>.toolbar-item>span:focus,
div.code-toolbar>.toolbar>.toolbar-item>span:hover {
    color: inherit;
    text-decoration: none;
}

.notion-search__clear svg {
    display: none !important;
}

.notion-search__clear::before {
    padding: 5px !important;
    color: #878683 !important;
    content: 'clear' !important;
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.notion-search__wrapper::before {
    position: absolute !important;
    top: 3rem !important;
    right: 50% !important;
    left: 50% !important;
    display: flex !important;
    color: white !important;
    content: url('https://super.so/icon/light/x.svg') !important;
    cursor: pointer !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child .notion-column:last-child {
    text-align: right !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child {
    display: grid !important;
    margin-top: 1.5rem !important;
    grid-template-columns: 1fr 1fr !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child .notion-column {
    position: relative !important;
    width: 100% !important;
    padding: 1.5rem !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child .notion-column div p span span span {
    position: relative !important;
    z-index: 2 !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child .notion-column:last-child .notion-page {
    display: flex !important;
    height: auto !important;
    justify-content: flex-end !important;
}


.notion-root>.notion-column-list .notion-column-list:last-child .notion-column a {
    position: absolute !important;
    z-index: 1 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    padding: 3.75rem 1.5rem 1.5rem !important;
    border: 1px solid var(--color-border-default) !important;
    border-radius: 1.25rem !important;
    transition: var(--transition) !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child .notion-column .highlighted-color.color-gray {
    pointer-events: none !important;
}

.notion-root>.notion-column-list .notion-column-list:last-child .notion-column a:hover {
    background: var(--color-ui-hover-bg) !important;
}

p {
    font-size: 1rem !important;
    font-weight: 400 !important;
    letter-spacing: -0.2px !important;
    line-height: 1.6 !important;
}

.notion-heading .notion-heading__anchor {
    top: -100px !important;
}

.notion-image img {
    border-radius: 1.25rem !important;
}

.notion-column-list:first-child .page-active {
    background: var(--color-ui-hover-bg) !important;
}

.notion-column-list:first-child .page-icon-active {
    filter: grayscale(0%) !important;
    opacity: 1 !important;
}

.super-footer {
    border-top: 1px solid var(--color-border-default) !important;
}


@media all and (max-width: 1100px) {
    .notion-root>.notion-column-list>.notion-column:nth-child(3) {
        display: none !important;
    }
}

@media all and (max-width: 764px) {
    .notion-root>.notion-column-list .notion-column-list:last-child {
        grid-template-columns: 1fr !important;
    }

    .notion-root>.notion-column-list .notion-column-list:last-child .notion-column {
        height: 6.25rem !important;
        padding: 0.5rem 1.25rem 0 !important;
        margin-bottom: 0.5rem !important;
    }
    
    .super-navbar__item {
        padding: 0.75rem !important;
    }

    .super-navbar__button.super-navbar__menu-open {
        display: flex !important;
    }

    .notion-image.page-width {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
        transform: translateX(0%) !important;
    }

    .notion-collection-gallery.large {
        grid-template-columns: 1fr !important;
    }

    .notion-navbar__search {
        right: 0.5rem !important;
        margin-right: 2.5rem !important;
    }

    .notion-header {
        top: 6.25rem !important;
        left: 0 !important;
    }

    .notion-header__icon-wrapper {
        width: 2rem !important;
        height: 2rem !important;
    }

    .notion-header__icon {
        width: 2rem !important;
        height: 2rem !important;
    }

    .notion-header__title {
        font-size: 2rem !important;
    }

    .notion-root>.notion-column-list>.notion-column:nth-child(1) {
        display: none !important;
    }

    .notion-root>.notion-column-list>.notion-column:nth-child(1).show-nav {
        display: block !important;
        opacity: 1 !important;
    }

    .notion-root>.notion-column-list>.notion-column:nth-child(2) {
        width: 100 !important;
        min-width: 100% !important;
        max-width: 100% !important;
        padding: 1.5rem 1.25rem 0 !important;
    }

    .notion-column-list {
        flex-direction: column !important;
    }

    h1.notion-heading {
        margin-top: 0.75rem !important;
        margin-bottom: 0.5rem !important;
        font-size: 2.5rem !important;
        font-weight: 700 !important;
        line-height: 1.167 !important;
    }

    h1.notion-heading .notion-semantic-string {
        line-height: 1.167 !important;
    }

    h2.notion-heading {
        margin-bottom: 0 !important;
        font-size: 1.75rem !important;
        line-height: 1.333 !important;
    }

    h3.notion-heading {
        margin-bottom: 0.5rem !important;
        font-size: 1.5rem !important;
        letter-spacing: 0 !important;
        text-transform: none !important;
    }

    .notion-root>.notion-column-list .notion-column-list:last-child .notion-column a {
        padding: 3rem 1.25rem 1.25rem !important;
    }

    .notion-root > .notion-column-list > .notion-column > .notion-image.page-width {
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media all and (max-width: 764px) {
    .notion-root>.notion-callout>.notion-callout__content>.notion-text:nth-child(3) p span {
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 0.25rem !important;
    }
}


code[class*="language-"],
pre[class*="language-"] {
    color: var(--color-primary) !important;
    font-size: 1em;
    hyphens: none;
    line-height: 1.5em;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

:not(pre)>code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.2em;
    white-space: normal;
}

pre[class*="language-"] {
    position: relative;
    overflow: auto;
    padding: 1.25em 1em;
    margin: 0.5em 0;
}

.language-css>code,
.language-sass>code,
.language-scss>code {
    color: var(--color-primary) !important;
}

[class*="language-"] .namespace {
    opacity: 0.7;
}

.token.attr-name {
    color: #2e3237 !important;
}

.token.attr-value {
    color: var(--color-primary) !important;
}

.token.attribute {
    color: var(--color-primary) !important;
}

.token.comment {
    color: #949ea9 !important;
}

.token.function {
    color: #2e3237 !important;
}

.token.important {
    color: #909ca8 !important;
}

.token.property {
    color: #2e3237 !important;
}

.token.pseudo-class {
    color: var(--color-primary) !important;
}

.token.pseudo-element {
    color: var(--color-primary) !important;
}

.token.punctuation {
    color: #2e3237 !important;
}

.token.selector {
    color: #2e3237 !important;
}

.token.string {
    color: var(--color-primary) !important;
}

.token.tag {
    color: #2e3237 !important;
}

.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link,
.notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
    display: inline-flex !important;
    justify-content: center !important;
    padding: var(--cta-padding) !important;
    border-radius: var(--cta-border-radius) !important;
    margin: -0.125rem !important;
    background: var(--cta-color-bg) !important;
    color: var(--cta-color-text) !important;
    font-weight: 500 !important;
    opacity: 1 !important;
    transition: var(--transition) !important;
}

.notion-quote.bg-gray,
.notion-quote.bg-brown,
.notion-quote.bg-orange,
.notion-quote.bg-yellow,
.notion-quote.bg-green,
.notion-quote.bg-blue,
.notion-quote.bg-purple,
.notion-quote.bg-red,
.notion-quote.bg-pink {
    border: none !important;
}

.static-tweet-body {
    font: inherit !important;
}

.static-tweet {
    --link-color: var(--color-primary) !important;
}