:root {
    --padding-layout: 0.5rem;
    --border-radii-layout: 0.375rem;
    --border-thickness-layout: 1px;
    --border-type-layout: solid;
    --border-layout: var(--border-thickness-layout) var(--border-type-layout) var(--color-border-default);
    --layout-max-width: 900px;
    --column-spacing: 3rem;
    --page-display: unset;
    --padding-right: calc(env(safe-area-inset-right) + 6rem);
    --padding-left: calc(env(safe-area-inset-left) + 6rem);
    --padding-right-mobile: calc(env(safe-area-inset-right) + 1.5rem);
    --padding-left-mobile: calc(env(safe-area-inset-left) + 1.5rem);
    --header-cover-height: 30vh;
    --header-title-align: left;
    --header-icon-align: -112px auto auto auto;
    --header-display: block;
    --collection-header-border: var(--border-layout);
    --collection-table-cell-padding: calc(var(--padding-layout) - 0.3rem) calc(var(--padding-layout) - 0.1rem);
    --collection-list-item-padding: calc(var(--padding-layout) - 0.5rem);
    --collection-list-item-border-radii: calc( var(--border-radii-layout) - 1px );
    --collection-card-padding: 0;
    --collection-card-title-padding: 0;
    --collection-card-content-padding: var(--padding-layout);
    --collection-card-border-radii: var(--border-radii-layout);
    --collection-card-gap: 0.5rem;
    --collection-card-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px, rgba(15, 15, 15, 0.1) 0 2px 4px;
    --collection-card-title-size: 0.875rem;
    --collection-card-cover-height-small: 128px;
    --collection-card-cover-size-small: 180px;
    --collection-card-cover-height-medium: 200px;
    --collection-card-cover-size-medium: 260px;
    --collection-card-cover-height-large: 200px;
    --collection-card-cover-size-large: calc(50% - 1rem);
    --collection-card-icon-display: inline-flex;
    --callout-padding: calc(var(--padding-layout) + 0.4rem) calc(var(--padding-layout) + 0.4rem) calc(var(--padding-layout) + 0.4rem) calc(var(--padding-layout) + 0.1em);
    --callout-border-radii: calc(var(--border-radii-layout) - 2px);
    --callout-border: var(--border-layout);
    --callout-icon-display: block;
    --callout-shadow: none;
    --file-border-radii: calc(var(--border-radii-layout) - 2px);
    --equation-border-radii: calc(var(--border-radii-layout) - 2px);
    --divider-border: var(--border-layout);
    --quote-border: calc(var(--border-thickness-layout) + 2px) solid currentcolor;
    --code-padding: calc(var(--padding-layout) + 1.4rem);
    --code-border-radii: var(--border-radii-layout);
    --tweet-padding: calc(var(--padding-layout) + 0.65rem) calc(var(--padding-layout) + 0.65rem) calc(var(--padding-layout) + 0.05rem) calc(var(--padding-layout) + 0.65rem);
    --tweet-border-radii: var(--border-radii-layout);
    --tweet-border: var(--border-layout);
    --bookmark-padding: calc(var(--padding-layout) + 0.15rem) 0 calc(var(--padding-layout) + 0.025rem) calc(var(--padding-layout) + 0.275rem);
    --bookmark-border-radii: var(--border-radii-layout);
    --bookmark-border: var(--border-layout);
    --bookmark-image-border-radii: 0 calc(var(--border-radii-layout) - 1px) calc(var(--border-radii-layout) - 1px) 0;
    --embed-border-radii: calc(var(--border-radii-layout) - 4px);
    --image-border-radii: calc(var(--border-radii-layout) - 4px);
    --title-size: 2.5rem;
    --quote-size: 1.125rem;
    --quote-size-large: 1.5rem;
    --text-weight: normal;
    --scrollbar-width: 1rem;
    --navbar-height: 4.5rem;
    --navbar-shadow: none;
    --navbar-button-border-radii: 3rem;
    --navbar-list-width-single-column: 360px;
    --navbar-list-width: 660px;
    --cta-color-bg: #e4f5fe !important;
    --cta-padding: 0.75rem 1.25rem !important;
    --cta-border-radius: 3rem !important;
    --cta-color-text: #424b55 !important;
    --transition: all .15s ease-in-out !important;
    /*
    --color-primary: #1ca0f1 !important;
    --color-text-default: #424b55 !important;
    --callout-border-radius: 1.25rem !important;
    --inline-code-bg-color: rgba(28, 160, 241, 0.1)  !important;
    --content-max-width: 1600px;
    --color-code-block: #fafafa !important;
    --color-text-light: white !important;
    --column-spacing: 1rem !important;
    --color-bg-gray-light: #f5f5f5 !important;
    --color-bg-gray: #f5f4f2 !important;
    --color-border-default: #f1f5f7 !important;
    --color-accent-bg: var(--color-primary) !important;
    --color-card-bg: rgba(150, 150, 150, 0.1) !important; */
}